<ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-segment [(ngModel)]="isLogin">
    <ion-segment-button [value]="true">
      <ion-label>Login</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="false">
      <ion-label>Register</ion-label>
    </ion-segment-button>
  </ion-segment>

  <form (submit)="isLogin ? login() : register()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top">
      {{ isLogin ? 'Login' : 'Register' }}
    </ion-button>
  </form>

</ion-content>
